.view,
body,
html,
header {
  height: 100%
}

@media (max-width:740px) {
  .full-page-intro {
    height: 1000px
  }
}

.carousel {
  height: 50%
}
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
  height: 100%
}
@media (max-width:776px) {
  .carousel {
    height: 100%
  }
}

.navbar {
  background-color: rgb(49, 49, 49);
  background-color: rgba(49, 49, 49, .3);
}

.page-footer,
.top-nav-collapse {
  background-color: rgb(49, 49, 49)
}

@media only screen and (max-width:768px) {
  .navbar {
    background-color: rgb(49, 49, 49)
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: rgb(49, 49, 49) !important;
  }
}